body {
    padding: 50px 100px;
    font-size: 13px;
    font: bold 15px Helvetica, Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    color: #474E69;
}


.rf-trn-lbl:hover {
    color: #777777;
    transition: color 0.12s ease-out;
}

form input[type="submit"]:hover {
    background-color: #FFFAE2;
}

form input[type="submit"]:focus {
    outline:none;
}

form input[type="submit"] {
    background-color: #FFFFFF;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 300ms ease-out; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;

    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

}

.tree{
    vertical-align: top;
    width: 30%;
}

.browser{
    margin-left: 50px;
    vertical-align: top;
    width: 70%;
}

.nextButton {
    background-image: url('../images/next.png') !important;
    height: 66px !important;
    width: 66px !important;
}

.prevButton {
    background-image: url('../images/prev.png') !important;
    height: 66px !important;
    width: 66px !important;
}

.expandButton {
    background-image: url('../images/expand.png') !important;
    height: 66px !important;
    width: 66px !important;
}

.collapseButton {
    background-image: url('../images/collapse.png') !important;
    height: 66px !important;
    width: 66px !important;
}

#aTree, #navButtons { display: inline-block; }